<h1>Users</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= render 'users/nav' %>

<div class="user-list">
  <% @users.each do |user|%>
    <div>
      <div><strong><%= link_to user.name, user_path(user) %></strong></div>
      <% if current_user != user %>
        <% if !current_user.friends.include? user %>
          <%= form_with url: friendships_path do |form| %>
            <%= form.hidden_field '[friendship]friend_id', value: user.id %>
            <%= form.submit 'Add friend' %>
          <% end %>
        <% else %>
          <p>(Friend)</p>
          <%= link_to 'Remove friend', "friendships/#{Friendship.find_by(user_id: current_user.id, friend_id: user.id).id}", data:{turbo_method: :delete, turbo_confirm: "Really unfriend #{user.name}?"} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
