<h1>Profile</h1>

<%= render "flash_message" %>

<%= render "nav" %>

<div class="photo">
  <img src=<%= @gravatar_url %> alt="profile photo" width="64" height="64" style="border-radius: 50%">
</div>

<div class="information">
  <p class="name">Name: <%= @user.name %></p>
  <p class="email">Email: <%= @user.email %></p>
</div>

<div class="posts">
<h3>Posts</h3>
  <div class="new_post">
    <%= link_to "New Post", new_post_path %>
  </div>
  <% @user.posts.each do |post| %>
    <div class="post">
      <%= post.title %>
      <%= post.content %>
    </div>
  <% end %>
</div>
