<h1>Profile</h1>

<%= render "flash_message" %>

<%= render "nav" %>

<div class="photo">
  <img src=<%= @gravatar_url %> alt="profile photo" width="64" height="64" style="border-radius: 50%">
</div>

<div class="information">
  <p class="name">Name: <%= @user.name %></p>
  <p class="email">Email: <%= @user.email %></p>
  <p class="birthday">Birthday: <%= @user.birthday %></p>
  <p class="city">City: <%= @user.city %></p>
  <p class="employment">Employment: <%= @user.employment %></p>
  <p class="education">Education: <%= @user.education %></p>
  <%= link_to 'Edit', edit_user_path(current_user.id) %>
</div>
