<div class="posts">
<h1>Posts</h1>
  <div class="new_post">
    <%= link_to "New Post", new_post_path %>
    <%= link_to "Profile", current_user %>
  </div>
  <% current_user.posts.each do |post| %>
    <hr>
    <div class="post">
      <div class="post-head">
        <p class="user-name"><%= post.user.name %></p>
      </div>
      <div class="post-body">
        <p class="post-title"><%= post.title %></p>
        <div class="post-content"><%= post.content %></div>
      </div>
      <div class="footer">
        <%= "Likes: #{post.likes.count}" %>
        <p class="post-like">
          <%= form_with model: post, url: likes_path, method: 'post' do |form| %>
            <%= form.hidden_field 'post_id', value: post.id %>
            <%= form.submit 'Like' %>
          <% end %>
        </p>
      </div>
    </div>
    
  <% end %>
</div>