<div class="posts">
<h1>Posts</h1>

<%= render 'users/nav' %>

<div class="new_post">
  <%= link_to "New Post", new_post_path %>
</div>

  <% render 'flash_message' %>

  <% @all_posts.each do |post| %>
    <hr>
    <div class="post">
      
      <div class="post-head">
        <p class="user-name"><%= post.created_at %></p>
        <p class="user-name"><%= post.user.name %></p>
      </div>
      <div class="post-body">
        <p class="post-title"><%= post.title %></p>
        <div class="post-content"><%= post.content %></div>
      </div>
      <div class="footer">
        <%= "Likes: #{post.likes.count}" %>
        <% if !post.liked_by? current_user %>
          <p class="post-like">
            <%= form_with model: post, url: likes_path, method: 'post' do |form| %>
              <%= form.hidden_field 'post_id', value: post.id %>
              <%= form.submit 'Like' %>
            <% end %>
          </p>
        <% else %>
          <p class="post-unlike">
            <%= form_with model: post, url: like_path(post.likes.find_by(user_id: current_user.id)), method: 'delete' do |form| %>
              <%= form.submit 'Unlike' %>
            <% end %>
          </p>
        <% end %>
      </div>
      <%= form_with model: post.comments, url: new_comment_path, method: 'GET' do |form| %>
        <%= form.hidden_field 'post_id', value: post.id %>
        <%= form.submit 'Comment' %>
      <% end %>
    </div>

    <% unless post.comments.empty? %>
      <div class="comments">
        <p><strong>Comments</strong></p>
        <% post.comments.each do |comment| %>
          <%= comment.user.name %>
          <br>
          <%= comment.content %>

        <% end %>
      </div>
    <% end %>
    
  <% end %>
</div>